{
    "Cisco-IOS-XE-ospf:ospf": {

            "process-id": [
                {
                    "id": {{pid}},
                    "area": {{area}}
                }
            ],
            "dead-interval": {
            "value": {{dead}}
            },
            {% if cost != '' %}
             "cost": {{cost}},
            {% endif %}
            {% if priority != '' %}
             "priority": {{priority}},
            {% endif %}
            "hello-interval": {{hello}}

    }
}
