{
  "Cisco-IOS-XE-native:access-group": {
        "{{inout}}": {
            "acl": {
                "acl-name": "{{nombre_acl}}",
                "{{inout}}": [
                    null
                ]
            }
        }
      }
    }
