{
    "Cisco-IOS-XE-ospf:router-ospf": {
        "ospf": {
            "process-id": [
                {
                    "id": {{pid}},
                    "area": [
                        {
                            "area-id": {{area}}
                        }
                    ]
                }
            ],
            "dead-interval": {{dead}},
            {% if cost != '' %}
             "cost": {{cost}},
            {% endif %}
            {% if priority != '' %}
             "priority": {{priority}},
            {% endif %}
            "hello-interval": {{hello}}
        }
    }
}
