{% if pid != '' %}
{
    "Cisco-IOS-XE-native:router": {

    "Cisco-IOS-XE-ospf:ospf": [{
      "id": {{pid}},
      {% if rid != '' %}
      "router-id": "{{rid}}"
      {% endif %}
      {% if default_info == '1' %}
      ,"default-information": {
          "originate": {}
      }
      {% endif %}

    }]
  }
}
{% endif %}
