<config>
  <configuration>
    <interfaces>
      <interface operation="replace">
        <name>{{ int_name }}</name>
        <description>
          {{ description }}
        </description>
        <unit>
          <name>0</name>
          <family>
            <inet>
              <address>
                <name>{{ip}}/{{mask}}</name>
              </address>
            </inet>
          </family>
        </unit>
      </interface>
      <interface>
          <name>{{intf}}</name>
          <unit>
              <name>0</name>
              <family>
                  <inet operation="remove"/>
              </family>
          </unit>
      </interface>
    </interfaces>
  </configuration>
</config>
