<config>
  <configuration>
    <routing-options>
      <router-id>{{rid}}</router-id>
    </routing-options>
    {% for intf in interfaces %}
      <protocols>
        <ospf>
        <area>
          <name>{{ interfaces[intf]['area'] }}</name>
          <interface>
          <name>{{intf}}</name>
          <metric>{{ interfaces[intf]['coste'] }}</metric>
          <priority>{{interfaces[intf]['priority']}}</priority>
          <hello-interval>{{interfaces[intf]['helloTimer']}}</hello-interval>
          <dead-interval>{{interfaces[intf]['deadTimer']}}</dead-interval>
          </interface>
        </area>
      </ospf>
    </protocols>
  {% endfor %}
  </configuration>
</config>
