<config>
  <configuration>
    <interfaces>
      <interface>
        <name>{{ int_name }}</name>
        <description>
          {{ description }}
        </description>
        <unit>
          <name>0</name>
          <family>
            <inet>
              <address>
                <name>{{ip}}/{{mask}}</name>
              </address>
            </inet>
          </family>
        </unit>
      </interface>
    </interfaces>
  </configuration>
</config>
